body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0.1px);
}
#border {
        display: block;
        width: $banner-width;
        height: $banner-height;
        pointer-events: none;
        outline: solid 1px #000;
        outline-offset: -1px;
        z-index: 999;
    }

#banner {
    background: #14AA40;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    #footer {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        bottom: 0;
        left: 0;
        width: $banner-width;
        height:115px;

        #logo {
            position: absolute;
            width:75px;
            bottom: 20px;
            left: 20px;

        }

        #cta {
            position: absolute;
            width:153px;
            height:35px;
            bottom: 40px;
            right: 20px;
            background-color: rgba(245, 204, 2, 1);
        }
    }


    #txt {
        position: absolute;
        width:300px;
        height:600px;
    }


    #gif {
        width: $banner-width;
        height: $banner-height;
        clip: rect(200px, 300px, 290px, 0px);
        position: absolute;

    }


}
